/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 106, buttons/*.png */
.buttons-sprite, .buttons-add, .buttons-blar, .buttons-camera, .buttons-close, .buttons-location, .buttons-message, .buttons-music, .buttons-person, .buttons-sleep {
  background: url('http://elgreg.github.com/path_css/img/buttons-sb58c02b419.png') no-repeat;
}

/* line 10, ../sass/screen.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 12, ../sass/screen.scss */
#iphone_screen {
  position: relative;
  height: 450px;
  width: 640px;
}

/* line 18, ../sass/screen.scss */
#share_button_container {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

/* line 60, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.buttons-add {
  background-position: 0 0;
}

/* line 60, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.buttons-blar {
  background-position: 0 -604px;
}

/* line 60, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.buttons-camera {
  background-position: 0 -464px;
}

/* line 60, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.buttons-close {
  background-position: 0 -92px;
}

/* line 60, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.buttons-location {
  background-position: 0 -184px;
}

/* line 60, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.buttons-message {
  background-position: 0 -324px;
}

/* line 60, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.buttons-music {
  background-position: 0 -254px;
}

/* line 60, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.buttons-person {
  background-position: 0 -394px;
}

/* line 60, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.buttons-sleep {
  background-position: 0 -534px;
}

/* line 27, ../sass/screen.scss */
.buttons-add, .buttons-close {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  height: 92px;
  width: 92px;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
}

/* line 39, ../sass/screen.scss */
#share_button_container:target .buttons-close {
  -webkit-transform: rotate(-180deg);
}

/* line 44, ../sass/screen.scss */
#share_button_container:target .buttons-add {
  display: none;
}

/* line 48, ../sass/screen.scss */
#buttons-open:target {
  display: block;
  -webkit-transform: rotate(-180deg);
}

/* line 56, ../sass/screen.scss */
.button_action {
  display: block;
  position: absolute;
  bottom: 11px;
  left: 11px;
  width: 70px;
  height: 70px;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.15s;
  -webkit-transition-timing-function: ease-in-out;
}

/* line 69, ../sass/screen.scss */
#share_button_container:target .button_action {
  -webkit-transform: rotate(360deg);
}

/* line 73, ../sass/screen.scss */
.buttons-camera {
  -webkit-transition-delay: 0.01s;
}

/* line 76, ../sass/screen.scss */
#share_button_container:target .buttons-camera {
  bottom: 283px;
}

/* line 79, ../sass/screen.scss */
.buttons-person {
  -webkit-transition-delay: 0.02s;
}

/* line 82, ../sass/screen.scss */
#share_button_container:target .buttons-person {
  left: 95px;
  bottom: 270px;
}

/* line 86, ../sass/screen.scss */
.buttons-location {
  -webkit-transition-delay: 0.03s;
}

/* line 89, ../sass/screen.scss */
#share_button_container:target .buttons-location {
  left: 171px;
  bottom: 231px;
}

/* line 93, ../sass/screen.scss */
.buttons-music {
  -webkit-transition-delay: 0.04s;
}

/* line 97, ../sass/screen.scss */
#share_button_container:target .buttons-music {
  left: 231px;
  bottom: 171px;
}

/* line 102, ../sass/screen.scss */
.buttons-message {
  -webkit-transition-delay: 0.05s;
}

/* line 106, ../sass/screen.scss */
#share_button_container:target .buttons-message {
  left: 270px;
  bottom: 95px;
}

/* line 110, ../sass/screen.scss */
.buttons-sleep {
  -webkit-transition-delay: 0.06s;
}

/* line 114, ../sass/screen.scss */
#share_button_container:target .buttons-sleep {
  left: 283px;
  bottom: 11px;
}

/* ==|== non-semantic helper classes ======================================== */
/* line 126, ../sass/screen.scss */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

/* line 127, ../sass/screen.scss */
.ir br {
  display: none;
}

/* line 128, ../sass/screen.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 129, ../sass/screen.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 130, ../sass/screen.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 131, ../sass/screen.scss */
.invisible {
  visibility: hidden;
}

/* line 132, ../sass/screen.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 133, ../sass/screen.scss */
.clearfix:after {
  clear: both;
}

/* line 134, ../sass/screen.scss */
.clearfix {
  zoom: 1;
}

/* ==|== media queries ====================================================== */
/* ==|== print styles ======================================================= */
@media print {
  /* line 153, ../sass/screen.scss */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* line 154, ../sass/screen.scss */
  a, a:visited {
    text-decoration: underline;
  }

  /* line 155, ../sass/screen.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 156, ../sass/screen.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 157, ../sass/screen.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* line 158, ../sass/screen.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 159, ../sass/screen.scss */
  thead {
    display: table-header-group;
  }

  /* line 160, ../sass/screen.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 161, ../sass/screen.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 163, ../sass/screen.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 164, ../sass/screen.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
